doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="keywords", content="技术,科学,专业知识,创客,极客")
		meta(name="description", content="面向于产品的专业技术知识问答Web App")
		meta(name="viewport", content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0")
		title 大教授
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700")
		link(rel="stylesheet",href="/plugins/bootstrap/css/bootstrap.min.css")

		link(rel="stylesheet",href="/plugins/slider.revolution/css/extralayers.css")
		link(rel="stylesheet",href="/plugins/slider.revolution/css/settings.css")
		link(rel="stylesheet",href="/css/main.css")
	//- HTML BODY
	body
		#app
		script(src="/js/vendor.js")
		script(src="/js/vendor.bundle.js")
		script(src="/js/bundle.js")
		script.
			var plugin_path = '/plugins/';
		script(src="/plugins/jquery/jquery-2.1.4.min.js")
		script(src="/js/smarty.js")